/* style rules */
:root{
    /* colors */
    --color-primary: #1e90ff;
    --color-primary-light: #469ef7;
    --color-secondary: #ff6347;
    --color-secondary-light: #ec7b67;
    --color-success: #3cb371;
    --color-success-light: #5dc28b;
    --color-danger: #dc143c;
    --color-danger-light: #d82e50;
    --color-warning: #ff8c00;
    --color-warning-light: #fc9f2f;
    --color-info: #00bfff;
    --color-info-light: #30c7fa;
    --color-white: #fff;
    --color-black: #000;
    --color-transparent: transparent;

    --color-light: #f8f9fa;
    /* light variations */
    --color-light-1: #FCFCFC;
    --color-light-2: #F9F9F9;
    --color-light-3: #F2F2F2;
    --color-light-4: #EDEDED;
    --color-light-5: #E7E7E7;
    --color-light-6: #E1E1E1;

    --color-gray: #bebebe;

    --color-dark: #343a40;
    /* dark variations */
    --color-dark-1: #30353B;
    --color-dark-2: #2B3035;
    --color-dark-3: #272B30;
    --color-dark-4: #22262B;
    --color-dark-5: #1E2125;
    --color-dark-6: #191C20;

    /* use in padding and margin etc... */
    --scale-xs: 0.33rem;
    --scale-sm: 1.2rem;
    --scale-md: 1.8rem;
    --scale-lg: 3rem;
    --scale-xl: 5rem;
    --scale-xxl: 7.5rem;

    --scale-x: 11rem;

    /* use border */
    --border-xs: 1px;
    --border-sm: 3px;
    --border-md: 5px;
    --border-lg: 12px;
    --border-xl: 26px;
    --border-xxl: 52px;

    --border-x: 72px;

    /* use in font-size */
    --font-xs: 0.3rem;
    --font-sm: 0.8rem;
    --font-md: 1.4rem;
    --font-lg: 2rem;
    --font-xl: 3.6rem;
    --font-xxl: 5.2rem;

    --font-x: 7.4rem;

}